<h1>Floworx SysArch</h1>

<p>Hi <%= @user.full_name %>,</p>

<p>
  You have requested a password reset. If this wasn't you, please contact us immediately.
</p>

<p>
  <%= link_to('Click this link to reset password', password_reset_token_from_email_url(token: @user.password_reset_token)) %>
</p>

<hr />

<p>
  If you cannot click the link above, please copy and paste the following link and then enter the token below.
</p>

<p>
  <%= password_reset_token_url %>
</p>

<p>
  This is your password reset token: <%= @user.password_reset_token %>
</p>
