<h1>Floworx SysArch</h1>

<p>Hi <%= @user.full_name %>,</p>

<p>
  This is your password reset token: <%= @user.password_reset_token %>
</p>

<p>
  <%= link_to('Reset Password', password_reset_token_url) %>
</p>

<p>
  <%= link_to('Click here to reset password', password_reset_token_from_email_url(token: @user.password_reset_token)) %>
</p>