<h1>Floworx</h1>

<p>Hi <%= @user.full_name %>,</p>

<p>
  You have successfully registered with Floworx! Click the following link to see your dashboard:
</p>

<p>
  <%= link_to 'Go to Dashboard', dashboard_url %>
</p>